<div class="auth-wrapper d-flex no-block justify-content-center align-items-center" style="background:url(assets/images/big/auth-bg.jpg) no-repeat center center;">
    <div class="auth-box">
        <div>
            <div class="logo">
                <span class="db"><img alt="thumbnail" class="" width="100" src="assets/images/logo.svg"></span>
            </div>
            <!-- Form -->
            <div class="row">
                <div class="col-12">
                    <form name="formm" class="form-horizontal m-t-20" (ngSubmit)="f.valid && onPasswordSubmit(f)" #f="ngForm" novalidate>
                      
                                <label>Current Password</label>
                                <div class="form-group row">
                                    <div class="col-12">
                                    <mat-form-field [floatLabel]="'never'">
                                        <input  class="form-control form-control-lg" placeholder="Old Password" matInput type="password" [(ngModel)]="pass.oldPassword" required name="oldPassword" minlength="8" maxlength="25"  #password="ngModel">
                                    </mat-form-field>
                                </div>
                                    <mat-error *ngIf="f.submitted && password.invalid">
                                        <div class="error" *ngIf="password?.errors?.required">
                                            Current password is required 
    
                                        </div>
                                    </mat-error>
                                </div>
                             
                            
                         
                                <label>New Password</label>
                                <div class="form-group row">
                                    <div class="col-12">
                                    <mat-form-field [floatLabel]="'never'">
                                        <input  class="form-control form-control-lg" placeholder="New Password" matInput type="password" name="mail" placeholder="xxxx" [(ngModel)]="pass.newPassword" minlength="8" maxlength="25" required name="new Password" placeholder="New password" #newPassword="ngModel">
                                    </mat-form-field>
                                </div>
                                    <mat-error *ngIf=" f.submitted && newPassword.invalid ">
                                        <div class="error" *ngIf="newPassword?.errors?.required">
                                            New password is required!</div>
                                        <div class="error" *ngIf="newPassword.errors?.minlength">
                                            Password should be of atleast 8 characters!</div>
                                        <!-- <div class="error" *ngIf="newPassword.errors?.maxlength">
                                            {{"VALIDATIONS.PASSWORDLSS" | translate}}</div> -->
    
                                    </mat-error>
                                </div>
                             
                             
                          
                                <label>Confirm password</label>
                                <div class="form-group row">
                                    <div class="col-12">
                                    <mat-form-field [floatLabel]="'never'">
                                        <input  class="form-control form-control-lg" placeholder="Retype Password" matInput type="password" (input)="confirmErrorr=false;" name="mail" placeholder="xxxx" [(ngModel)]="pass.cpassword" required name="cpassword" minlength="8" maxlength="25" placeholder="Confirm password" #cpassword="ngModel">
                                    </mat-form-field>
                                </div>
                                    <mat-error class="error" *ngIf=" f.submitted && cpassword.invalid ">
                                        Please enter Confirm Password
                                    </mat-error>
                                    <mat-error class="error" *ngIf=" f.submitted && cpassword.valid ">
                                        <div *ngIf="confirmErrorr">
                                            New Password and Confirm password doesn't match
    
                                        </div>
                                    </mat-error>
                                </div>
                        
                          
                        <button class="btn btn-block btn-lg btn-info" type="submit">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>