<div class="row">
    <!-- Column -->
    <div class="col-lg-4 col-xlg-3 col-md-5">
        <div class="card">
            <div class="card-body text-center">
                <div class="m-t-30 text-center">
                    <img [src]="profilePic" class="rounded-circle" width="150px" height="150px" />               
                </div>
                <div class="upload-btn-wrapper">
                    <button class="btn-upload"><i class="mdi mdi-pencil"></i></button>
                    <input type="file" (change)="onChange($event,'')" name="myfile" />
                  </div>
            </div>
            <div>
                <hr> </div>
            <div class="card-body">
                <small class="text-muted p-t-30 db">Name</small>
                <h6> {{name}}</h6>
                <small class="text-muted">Email address </small>
                <h6>{{email}}</h6>
                <!-- <small class="text-muted p-t-30 db">Phone</small>
                <h6>+91{{phone}}</h6> -->
<!--              
                <div class="map-box">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d470029.1604841957!2d72.29955005258641!3d23.019996818380896!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x395e848aba5bd449%3A0x4fcedd11614f6516!2sAhmedabad%2C+Gujarat!5e0!3m2!1sen!2sin!4v1493204785508"
                        width="100%" height="150" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div> -->
            </div>
        </div>
    </div>
    <!-- Column -->
    <!-- Column -->
    <div class="col-lg-8 col-xlg-9 col-md-7">
        <div class="card">
            <ngb-tabset type="pills" class="custom-pills">           
                <ngb-tab title="Settings">
                    <ng-template ngbTabContent>
                        <div class="card-body">
                            <form class="form-horizontal form-material" [formGroup]="signUpform" >
                                <div class="form-group">
                                    <label class="col-md-12">Full Name</label>
                                    <div class="col-md-12">
                                        <mat-form-field [floatLabel]="'never'">
                                        <input matInput type="text" (keydown.space)="$event.preventDefault()" (keypress)="alphabate($event)" placeholder="Johnathan Doe" maxLength="20" minlength="3" formControlName="name" class="form-control form-control-line">
                                    </mat-form-field>
                                    <mat-error class="error" *ngIf="submitted && errorHandling('name', 'required')">
                                         Name is required
                                    </mat-error>
                                    <mat-error class="error" *ngIf="submitted && errorHandling('name', 'minlength')">
                                        Min length should be 3 chars.
                                    </mat-error>
                                    <mat-error class="error" *ngIf="submitted && errorHandling('name', 'maxLength')">
                                        Max length should be 20 chars.
                                    </mat-error>
                                    </div>
                                </div>
                                <div class="form-group">
                                    
                                    <label for="example-email" class="col-md-12">Email</label>
                                    <div class="col-md-12">
                                        <mat-form-field [floatLabel]="'never'">
                                        <input matInput type="email" (keydown.space)="$event.preventDefault()"  placeholder="johnathan@admin.com" formControlName="email" class="form-control form-control-line" name="example-email" id="example-email">
                                    </mat-form-field>
                                    <mat-error class="error" *ngIf="submitted && errorHandling('email', 'required')">
                                        Email is requied
                                    </mat-error>
                                    <mat-error class="error" *ngIf="submitted && errorHandling('email', 'email')">
                                        Invalid email
                                    </mat-error>    
                                </div>
                                </div>
                                <!-- <div class="form-group">
                                    <label class="col-md-12">Password</label>
                                    <div class="col-md-12">
                                        <input type="password" value="password" class="form-control form-control-line">
                                    </div>
                                </div> -->
                                <!-- <div class="form-group">
                                    <label class="col-md-12">Phone No</label>
                                    <div class="col-md-12">
                                        <mat-form-field [floatLabel]="'never'">
                                        <input matInput type="text" (keypress)="numberonly($event)" (keydown.space)="$event.preventDefault()" placeholder="123 456 7890" max="10" min="0" formControlName="phone" class="form-control form-control-line">
                                    </mat-form-field>
                                          <mat-error class="error" *ngIf="submitted && errorHandling('phone', 'required')">
                                                    Phone number is required
                                                </mat-error>
                                                <mat-error class="error" *ngIf="submitted && errorHandling('phone', 'maxLength')">
                                                    Phone number is invalid
                                                </mat-error>
                                                <mat-error class="error" *ngIf="submitted && errorHandling('phone', 'minlength')">
                                                    Phone number is invalid
                                                </mat-error>
                                    </div>
                                </div> -->
                                <!-- <div class="form-group">
                                    <label class="col-md-12">Message</label>
                                    <div class="col-md-12">
                                        <textarea rows="5" class="form-control form-control-line"></textarea>
                                    </div>
                                </div>                                 -->
                                <div class="form-group">
                                    <div class="col-sm-12">
                                        <button class="btn btn-theme" (click)="updateProfile()">Update Profile</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </ng-template>
                </ngb-tab>
            </ngb-tabset>
        </div>
    </div>
    <!-- Column -->
</div>