<div class="card-body">
    <div class="row">
        <div class="col-md-6 ">
            <div class="form-group">
                <label>Discount Name</label>
                <input type="text" class="form-control">
            </div>
        </div>
        <div class="col-md-6 ">
            <div class="form-group">
                <label>Discount type</label>
                <select class="custom-select col-12" id="example-month-input2">
                    <option selected="">Percentage</option>
                    <option value="free">Flat</option>
                    <option value="Discount">Both Percentage and  Flat amount</option>                   
                </select>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
            <label for="">Applicable Time of the day. </label>
            <input type="11:00 AM - 12:00 PM" class="form-control">
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
            <label for="">Dates </label>
            <input type="date" class="form-control">
            </div>
        </div>
        <div class="col-md-6 ">
            <div class="form-group">
                <label>kitchens/cooks</label>
                <select class="custom-select col-12" id="example-month-input2">
                    <option selected="">kitchen1</option>
                    <option value="free">kitchen2</option>
                    <option value="Discount">kitchen3</option>                   
                    <option value="Discount">All Kichen</option>                   
                </select>
            </div>
        </div>
        <div class="col-md-6 ">
            <div class="form-group">
                <label>Food Type</label>
                <select class="custom-select col-12" id="example-month-input2">
                    <option selected="">Fast Food </option>
                    <option value="free">Chiness</option>                   
                    <option value="Discount">Thali</option>                   
                    <option value="Discount">Dinner</option>                   
                </select>
            </div>
        </div>
    </div>
  
    
    <button class="btn btn-primary">Save</button>
</div>