<div class="row">
    <!-- Column -->
    <div class="col-lg-12 col-xlg-3 col-md-5">
        <a href="javascript:void()" class="btn btn-primary mb-3">Back</a>
        <div class="card">
            <div class="row">
                <div class="col-md-3">
                    <div class="card-body p-3 bg-light">
                        <div class=" text-center">
                            <img src="assets/images/users/1.jpg" class="rounded-circle" width="150" />
                        </div>

                    </div>
                </div>
                <div class="col-md-9 pr-3">
                    <div class="row pt-2 ">
                        <div class="col-md-3">
                            <ul class="list-block pl-0 list-style-none">
                                <li class="list-block-listing pr-2 pb-2">Name: <span class="font-weight-600">Hanna Gover</span></li>
                                <li class="list-block-listing pr-2 pb-2">Contact: <span class="font-weight-600">+91-9564345452</span>
                                </li>
                                <li class="list-block-listing pr-2 pb-2">User ID: <span class="font-weight-600">elite2345</span></li>
                            </ul>
                        </div>
                        <div class="col-md-4">
                            <div class="row mr-0">
                                <div class="col-md-12">
                                    <!-- Card -->
                                    <div class="card">
                                        <div class="card-body card-box p-2">
                                            <div class="d-flex align-items-center">
                                                <div class="m-r-10">
                                                    <!-- <span class="btn btn-circle btn-xl bg-danger">
                                <i class="ti-gift text-white"></i>
                            </span> -->
                                                </div>
                                                <div>
                                                    Number of Conversions
                                                </div>
                                                <div class="ml-auto mr-1">
                                                    <h2 class="m-b-0 font-light">10</h2>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Card -->
                                </div>
                                <!-- col-md-4 -->
                                <!-- col-md-4 -->
                                <div class="col-md-12">
                                    <!-- Card -->
                                    <div class="card">
                                        <div class="card-body card-box p-2">
                                            <div class="d-flex align-items-center">
                                                <div class="m-r-10">
                                                    <!-- <span class="btn btn-circle btn-xl bg-danger">
                                <i class="mdi mdi-clock text-white"></i>
                            </span> -->
                                                </div>
                                                <div>
                                                    Packages Using :-
                                                </div>
                                                <div class="ml-auto mr-1">
                                                    <h2 class="m-b-0 font-light">Bronz</h2>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
