<div class="row">

  <div class="col-md-3">
    <!-- Card -->
    <div class="card">
      <div class="card-body card-box p-2">
        <div class="d-flex align-items-center">
          <div class="">
            <span class="btn btn-circle btn-md bg-danger text-white"><i class=" fas fa-credit-card font-16"></i></span>
          </div>
          <div class="m-l-10">
            <h5 class="mb-0 m-t-10"> Total Payment Received By Card</h5>
            <h2 class="m-b-0 font-light">$ 450</h2>
          </div>

        </div>
      </div>
    </div>

    <!-- Card -->
  </div>
  <!-- col-md-4 -->
  <div class="col-md-3">
    <!-- Card -->
    <div class="card">
      <div class="card-body card-box p-2">
        <div class="d-flex align-items-center">
          <div class="">
            <span class="btn btn-circle btn-md bg-danger text-white"><i
                class="far fa-money-bill-alt font-16"></i></span>
          </div>
          <div class="m-l-10">
            <h5 class="mb-0 m-t-10"> Total Payment Received By Cash</h5>
            <h2 class="m-b-0 font-light"> $ 223</h2>
          </div>

        </div>
      </div>
    </div>

    <!-- Card -->
  </div>
 
  <!-- col-md-4 -->
  <div class="col-md-3">
    <!-- Card -->
    <div class="card">
      <div class="card-body card-box p-2">
        <div class="d-flex align-items-center">
          <div class="">
            <span class="btn btn-circle btn-md bg-danger text-white"><i
                class="far fa-money-bill-alt font-16"></i></span>
          </div>
          <div class="m-l-10">
            <h5 class="mb-0 m-t-10"> Total Earning of Chefs</h5>
            <h2 class="m-b-0 font-light"> $ 200</h2>
          </div>

        </div>
      </div>
    </div>

    <!-- Card -->
  </div>
  <!-- col-md-4 -->
   <!-- col-md-4 -->
   <div class="col-md-3">
    <!-- Card -->
    <div class="card">
      <div class="card-body card-box p-2">
        <label>Service Fees</label>
        <div class="input-group">
          <input aria-describedby="basic-addon1" aria-label="" class="form-control" placeholder="" value="10%"
            type="text">
          <div class="input-group-append"><button class="btn mr-0 btn-info" type="button">Submit</button></div>
        </div>
      </div>
    </div>

    <!-- Card -->
  </div>
  <!-- Column -->
  <div class="col-md-12">
    <h3>All Transaction </h3>
  </div>
  <div class="col-lg-12">
    <div class="card">

      <div class="card-body">
        <div class="">
          <table class="table v-middle product-overview" id="zero_config">
            <thead>
              <tr>

                <th>Name</th>
                <th>Designation</th>
                <th>Payment Type</th>
                <th>Amount</th>
                <th>Fees</th>
                <th>Status</th>
              </tr>
            </thead>
            <tbody>
              <tr>

                <td>Ronny </td>
                <td>Chef</td>
                <td>Cash</td>
                <td>$250</td>
                <td>10%</td>
                <td> <select class="custom-select b-0">
                    <option selected="">Enable</option>
                    <option value="1">Disable</option>
                  </select></td>
              </tr>
              <tr>

                <td>Ronny </td>
                <td>Chef</td>
                <td>Cash</td>
                <td>$250</td>
                <td>10%</td>
                <td> <select class="custom-select b-0">
                    <option selected="">Enable</option>
                    <option value="1">Disable</option>
                  </select></td>
              </tr>
              <tr>

                <td>Ronny </td>
                <td>Chef</td>
                <td>Cash</td>
                <td>$250</td>
                <td>10%</td>
                <td> <select class="custom-select b-0">
                    <option selected="">Enable</option>
                    <option value="1">Disable</option>
                  </select></td>
              </tr>

            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <!-- Column -->
</div>


<div class="card">
  <div class="card-body">
    <div class="d-flex align-items-center">
      <h4>Net Profit</h4>
      <!-- <div>
                        <span class="btn-circle btn-lg btn btn-outline-secondary">
                            <i class="ti-shopping-cart"></i>
                        </span>
                    </div> -->

    

    </div>
    <div class=" text-white">
      <canvas baseChart height="130" [datasets]="lineChartData" [labels]="lineChartLabels" [options]="lineChartOptions" [colors]="lineChartColors"
      [legend]="lineChartLegend" [chartType]="lineChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)">
  </canvas>
    </div>
  </div>


</div>