<!-- <div class="card">
    <div class="card-body">
        <div class="d-md-flex align-items-center">
            <div>
                <h4 class="card-title">Chef List</h4>
            </div>

        </div>
    </div>
    <div class="table-responsive">
        <table class="table v-middle">
            <thead>
                <tr class="bg-light">
                    <th class="border-top-0">Name</th>
                    <th class="border-top-0">Contact</th>
                    <th class="border-top-0">Chef ID</th>
                    <th class="border-top-0">Experience</th>
                    <th class="border-top-0">Earning</th>
                    <th class="border-top-0">Status</th>
                    <th class="border-top-0">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <div class="d-flex align-items-center">
                            <div class="">
                                <h4 class="m-b-0 font-16">Elite </h4>
                            </div>
                        </div>
                    </td>
                    <td>+91-4564345452</td>
                    <td>#4145254</td>
                    <td>
                        2 years
                    </td>
                    <td>$850</td>
                    <td><mat-slide-toggle></mat-slide-toggle></td>

                    <td><a routerLink="../pages/chef_profile" class="btn btn-primary">View</a></td>
                </tr>
                <tr>
                    <td>
                        <div class="d-flex align-items-center">
                            <div class="">
                                <h4 class="m-b-0 font-16">Elite </h4>
                            </div>
                        </div>
                    </td>
                    <td>+91-4564345452</td>
                    <td>#4145254</td>
                    <td>
                        2 years
                    </td>
                    <td>$850</td>
                    <td><mat-slide-toggle></mat-slide-toggle></td>

                    <td><a routerLink="../pages/chef_profile" class="btn btn-primary">View</a></td>
                </tr>
                <tr>
                    <td>
                        <div class="d-flex align-items-center">
                            <div class="">
                                <h4 class="m-b-0 font-16">Elite </h4>
                            </div>
                        </div>
                    </td>
                    <td>+91-4564345452</td>
                    <td>#4145254</td>
                    <td>
                        2 years
                    </td>
                    <td>$850</td>
                    <td><mat-slide-toggle></mat-slide-toggle></td>

                    <td><a routerLink="../pages/chef_profile" class="btn btn-primary">View</a></td>
                </tr>
                <tr>
                    <td>
                        <div class="d-flex align-items-center">
                            <div class="">
                                <h4 class="m-b-0 font-16">Elite </h4>
                            </div>
                        </div>
                    </td>
                    <td>+91-4564345452</td>
                    <td>#4145254</td>
                    <td>
                        2 years
                    </td>
                    <td>$850</td>
                    <td><mat-slide-toggle></mat-slide-toggle></td>

                    <td><a routerLink="../pages/chef_profile" class="btn btn-primary">View</a></td>
                </tr>
                <tr>
                    <td>
                        <div class="d-flex align-items-center">
                            <div class="">
                                <h4 class="m-b-0 font-16">Elite</h4>
                            </div>
                        </div>
                    </td>
                    <td>+91-4564345452</td>
                    <td>#4145254</td>
                    <td>
                        2 years
                    </td>
                    <td>$850</td>
                    <td><mat-slide-toggle></mat-slide-toggle></td>

                    <td><a routerLink="../pages/chef_profile" class="btn btn-primary">View</a></td>
                </tr>
              </tbody>
        </table>
    </div>
</div> -->
